<div class="container authcontainer">
    <div class="card w-50">
        <div class="card-body">
            <p class="title">Cambiar contraseña</p>
            <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
                <div class="form-group">
                    <label for="nombre">Contraseña anterior *</label>
                    <input id="nombre" class="form-control" type="password" name="old_password" formControlName="old_password">
                    <small *ngIf="oldpasswordInvalid" class="text-danger font-14">Ingrese su contraseña anterior.</small>
                </div>
                <div class="form-group">
                    <label for="password">Contraseña nueva *</label>
                    <input id="password" class="form-control" type="password" name="new_password" formControlName="new_password">
                    <small *ngIf="newpasswordInvalid" class="text-danger font-14">Ingrese su contraseña (minimo 8 carácteres).</small>
                </div>
                <div class="form-group">
                    <label for="passwordC">Confirmar contraseña nueva *</label>
                    <input id="passwordC" class="form-control" type="password" name="confirm_password" formControlName="confirm_password">
                    <small *ngIf="confirmpasswordInvalid" class="text-danger font-14">Confirme su contraseña (minimo 8 carácteres).</small>
                    <small *ngIf="passwordsInvalids" class="text-danger font-14">Las contraseñas no coinciden</small>
                </div>
                <button class="btn btn-block btn-primary" type="submit" [disabled]="form.invalid">Registrar</button>
            </form>
        </div>
    </div>
</div>
<app-loader *ngIf="loading"></app-loader>