/* You can add global styles to this file, and also import other style files */

.main-title {
    padding: 5px;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.main-title h5 {
    margin-top: auto;
    margin-bottom: auto;
    padding-left: 12px;
}

.btn.btn-regresar {
    color: #f86c6b;
    background-color: #fff;
    border-color: #fff;
    cursor: pointer;
}

.btn.btn-regresar:hover,
.btn.btn-regresar.hover {
    color: #f86c6b;
    cursor: pointer;
}

.btn.btn-regresar:focus,
.btn.btn-regresar.focus {
    border-color: #fff;
    box-shadow: 0 0 0 0;
    color: #f86c6b;
    cursor: pointer;
}

textarea {
    resize: none;
}